[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
tickerplot = { git = "https://github.com/hyphenOs/tickerplot.git", ref="v0.0.7", editable="True" }

[requires]
python_version = "2.7"
